@model IEnumerable<ProjetoModeloDDD.MVC.Core.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Criar Novo Cliente</a>
</p>
<p>
    <a asp-action="Especiais">Clientes Especiais</a>
</p>
<br />
<form asp-action="GetFiltroPorNomeDoCliente" method="get">
    <p>
        <Label>Nome: </Label> <input type="text" id="nome" name="nome" value="@ViewBag.nome" />
        <input type="submit" value="Pesquisar" />
        <input type="submit" value="Limpar Pesquisa" formaction="Index" />
    </p>
</form>
<br />
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.ClienteId  }) |
                @Html.ActionLink("Detalhes", "Details", new {  id=item.ClienteId }) |
                @Html.ActionLink("Deletar", "Delete", new {  id=item.ClienteId })
            </td>
        </tr>
}
    </tbody>
</table>
