@model IEnumerable<ProjetoModeloDDD.MVC.Core.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create">Criar Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
                @Html.DisplayName("Cliente")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.ProdutoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ProdutoId }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.ProdutoId })
            </td>
        </tr>
}
    </tbody>
</table>
